<ion-header [translucent]="true">
 <ion-toolbar>
  <ion-title>
    Sistema Cimercial
  </ion-title>
  <ion-buttons slot="end">
   <!-- <ion-buttons (click)="logout()">Sair</ion-buttons> -->
  </ion-buttons>
 </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item routeralink="/usuario-add">Cadastrar Usuário</ion-item>
    <ion-item routeralink="/usuario-list">Listar Usuário</ion-item>
    <ion-item routeralink="/clientes">Clientes</ion-item>
    <ion-item routeralink="/produto-list">produtos</ion-item>
    <ion-item routeralink="/Pedidos">Peididos</ion-item>

  </ion-list>
</ion-content>